.category-list {
    background: $colors-footer-dark;
    border-radius: $radius-desktop;
    padding: 20px 20px 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
    @media (min-width: 1200px) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    a {
        .category-list-box {
            background: #040E1D;
            width: 260px;
            height: 88px;
            border-radius: $radius-desktop;
            display: flex;
            align-items: center;
            gap: 30px;
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 40px;
            transition: all .2s ease-in-out;
            @media (min-width: 768px) {
                width: 680px;
            }
            @media (min-width: 1200px) {
                width: 440px;
            }
            @media (min-width: 1400px) {
                width: 500px;
            }
            img {
                border-radius: $radius-desktop;
            }
            &:hover {
                background: #081933;
            }
        }
    }
}