* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../assets/images/background.svg');
    background-repeat: no-repeat;
    background-position: center top;
    background-color: $colors-bg-dark;
    font-family: $global-font;
    color: $colors-text;
}

a {
    color: $colors-text;
    text-decoration: none;
}

.btn {
    width: 100%;
    padding: 16px;
    text-align: center;
    border-radius: $radius-mobile;
    font-weight: 500;
}

.btn-primary {
    background: $colors-primary;
    transition: all .2s ease-in-out;
    &:hover {
        background: #1f3480;
    }
}

.btn-secondary {
    border: 2px solid $colors-text;
    transition: all .2s ease-in-out;
    &:hover {
        background: $colors-text;
        color: $colors-bg-dark;
    }
}

main {
    width: 320px;
    margin: 0px auto;
    @media (min-width: 768px) {
        width: 728px;
    }
    @media (min-width: 1200px) {
        width: 1200px;
    }
    @media (min-width: 1400px) {
        width: 1400px;
    }
    @media (min-width: 1600px) {
        width: 1600px;
    }
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid #0C203E;
    height: 160px;
    @media (min-width: 1200px) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 140px;
    }
    .navbar-left {
        display: flex;
        justify-content: space-between;
        .navbar-logo {
            a {
                h3 {
                    font-size: 22px;
                    span {
                        color: $colors-primary;
                    }
                }
            }
        }
    }
    .navbar-right {
        display: flex;
        margin-top: 20px;
        @media (min-width: 1200px) {
            margin-top: 0px;
        }
        a {
            @media (min-width: 1200px) {
                height: fit-content;
                font-size: 18px;
                padding: 16px 40px;
            }
        }
    }
}

footer {
    background: $colors-footer-dark;
    margin-top: 60px;
    padding: 40px 20px;
    text-align: center;
    @media (min-width: 1200px) {
        margin-top: 120px;
    }
    .footer-logo {
        font-size: 20px;
        font-weight: 700;
        span {
            color: $colors-primary;
        }
    }
}