.home {
    margin-top: 80px;
    @media (min-width: 1200px) {
        margin-top: 120px;
    }
    .home-website {
        background: #761544;
        width: fit-content;
        padding: 10px 20px;
        font-weight: 500;
        border-radius: $radius-mobile;
        margin-bottom: 20px;
    }
    .home-title {
        font-size: 38px;
        margin-bottom: 40px;
        @media (min-width: 1200px) {
            font-size: 96px
        }
    }
    .home-button {
        display: flex;
        flex-direction: column;
        gap: 20px;
        @media (min-width: 1200px) {
            flex-direction: row;
            a {
                width: fit-content;
                padding: 20px 60px;
                font-size: 18px;
                display: flex;
                align-items: center;
            }
        }
    }
}