.home {
    margin-top: 80px;
    .home-website {
        background: #761544;
        width: fit-content;
        padding: 10px 20px;
        font-weight: 500;
        border-radius: $radius-mobile;
        margin-bottom: 20px;
    }
    .home-title {
        font-size: 38px;
        margin-bottom: 40px;
    }
    .home-button {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}